@font-face {
	font-family: Big Noodle Too;
	src: url(https://static.playoverwatch.com/fonts/big-noodle-too-254c7f1a1d.woff)
		format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Big Noodle Too;
	src: url(https://static.playoverwatch.com/fonts/big-noodle-too-oblique-1eed6dbdd0.woff)
		format("woff");
	font-weight: 400;
	font-style: italic;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #111;
	font-family: "Big Noodle Too", impact, sans-serif;
	font-weight: 400;
	margin: 0;
	min-height: 100vh;
	overflow-x: hidden;
}

header {
	text-align: center;
	color: #fff;
}

header h1 {
	font-size: 3rem;
	text-transform: uppercase;
	font-style: italic;
}

section {
	display: flex;
	width: 100vw;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.close {
	background-color: transparent;
	border: none;
	color: inherit;
	cursor: pointer;
	font-size: 2rem;
	height: 2.5rem;
	line-height: 2rem;
	vertical-align: middle;
	position: absolute;
	right: 1rem;
	top: 1rem;
	width: 2.5rem;
	border-radius: 50%;
}

aside {
	align-items: center;
	backdrop-filter: blur(1.25rem);
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	will-change: display;
}

aside:target {
	display: flex;
}

aside main {
	background-color: #111;
	border-radius: 1rem;
	border: 0;
	color: #fff;
	width: 90vw;
	max-width: 32rem;
	padding: 0 2rem 2rem;
	max-height: 90vh;
	overflow-y: auto;
}

aside section {
	width: auto;
	justify-content: flex-start;
}

a img {
	background-color: #111;
	background-image: linear-gradient(#111, transparent);
	border: none;
	color: #fff;
	font-size: 2vw;
	font-weight: 900;
	left: 0;
	transition: background-color 0.2s ease-in-out;
	vertical-align: bottom;
	width: 11.25rem;
	will-change: background-color;
}

aside a img {
	border-radius: 0.5rem;
	height: 6rem;
	margin: 0.25rem;
	object-fit: cover;
	width: 6rem;
}

h1,
h2 {
	font-weight: 300;
}

h1 {
	font-size: 2rem;
}

h1 strong {
	color: #f06414;
}

summary {
	cursor: pointer;
	font-size: 2rem;
}

summary strong {
	color: #f01414;
}

.weak img {
	background-color: #14f0f0;
}

.strong img {
	background-color: #f01414;
}

a:hover img,
a:focus img {
	background-color: #fff;
}

@media (max-width: 720px) {
	.hero {
		width: 25%;
	}
	.hero img {
		width: 100%;
	}
}
